<div class="row">
  <div class="col-md-3 mb-3">
    <div matRipple>
      <mat-card class="bg-warning mat-elevation-z2" (click)="openForm()" matTooltip="Create New Group">
        <mat-card-content>
          <div class="justifier-column text-center m120h mouse-pointer">
            <mat-icon style="color: white;font-size: 2rem;">add_circle</mat-icon>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngFor="let group of groups" class="col-md-3 mb-3">
      <mat-card class="mat-elevation-z2" [style.backgroundColor]="makeBg(group.id)" [style.color]="'white'">
          <mat-card-header class="justifier-column text-center m80h">
              <mat-card-title>
                {{group.name}}
              </mat-card-title>
              <mat-card-subtitle><mat-icon *ngIf="group.is_favorite && group.status" style="color: whitesmoke;">favorite</mat-icon><mat-icon *ngIf="!group.status">lock</mat-icon></mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
              <button matTooltip="Edit Group" (click)="openForm(group.id)" mat-icon-button><mat-icon>create</mat-icon></button>
              <a *ngIf="group.status" [routerLink]="'/groups/' + group.id + '/contacts'" routerLinkActive="router-link-active"  matTooltip="Contacts" mat-icon-button><mat-icon>contacts</mat-icon></a>
          </mat-card-actions>
      </mat-card>
    </div>
</div>